beautifulsoup4==4.12.3                                                                                                           
coloredlogs==15.0.1                                                                                                                               
tqdm==4.66.4    
requests==2.32.2  
trafilatura==1.10.0
mdformat==0.7.17
mdformat-gfm==0.3.6
mdformat_footnote==0.1.1
mdformat_frontmatter==2.0.8
mdformat_tables==0.4.1
