beautifulsoup4==4.12.3                                                                                                           
coloredlogs==15.0.1                                                                                                                               
tqdm==4.66.4    
requests==2.32.2  
trafilatura==1.9.0
